.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

.Input {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  color: white;
}

.PageTitle {
  font-size: calc(12px + 2vmin);
  margin-top: 50px;
  margin-bottom: 50px;
}

.PageBody{
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.UserInput {
  margin: 15px;
  width: 50%;
  align-self: center;
}

.HeaderButtons {
  flex-direction: row;
  margin-bottom: 20px;
}

.WelcomeMessage {
  color: #808080;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px;
  height:400px;
  display: flex;
  flex-direction: column;
}

.ArgumentDisplay {
  align-items: center;
  justify-content: center;
  display:flex;
  margin: 30px;
}

.Argument {
  font-family: Courier, monospace;
  background-color: #F5F5F5;
  width: 75%;
  align-self: center;
  padding: 20px;
  text-align: left;
}

.Prediction{
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 50px;
}

.Explanation{
  align-items: stretch;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  align-self: center;
  justify-self: center;
}

.NetworkGraph{
  display: flex;
  max-height: 300px;
  width: 60%;
  overflow: hidden;
  overflow-y: hidden;
  align-self: center;
  border: 1px solid lightgrey;
  margin: 20px;
}

.SankeyDiagram{
  align-self: center;
}

.TextExplanation{
  padding:20px;
  display: flex;
  justify-content: center;
  text-align: left;
  align-self: center;
  width: 80%;
  margin: 0px;
  flex-direction: column;
}

.FeatureDisplay{
  width:80%;
  align-self: center;
  margin: 20px;
  text-align-all: center;
}

.TableText{
  textAlign: center;
}

.SectionButton{
  flex-direction: row;
}

.Legend{
  margin-bottom: 20px;
}

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
